html {
  font-size: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  background: var(--Gray);
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--Black);
}
